@import '../../styles/shared';

$margin: 40px;
$project-width: 600px;

.adidas-wrapper {
  display: flex;
  justify-content: center;
}

.adidas-content {
  // todo: consider moving black background color to shared var
  background-color: rgb(0 0 0);
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  max-width: $project-width * 2 + $margin * 2;
}

.subproject {
  @include druk-normal-400;

  width: 600px;
  height: 500px;
  background-color: white;
  opacity: 0.8;
  margin-left: $margin;
  margin-top: $margin;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(2n + 3) {
    position: relative;
    top: -60px;
  }
}

.filter-panel {
  @include montserrat-normal-700;

  width: $project-width;
  margin-top: $margin;
  margin-left: $margin;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
