.havi-upper-image {
  width: 100%;
}

.havi-about-container {
  display: flex;
  padding: 100px 0;
}

.havi-about {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;

  .paragraph {
    width: 500px;
  }
}

// todo: this is hack
.more-indent {
  padding-left: 10px;
}
