@import '../../styles/shared';

@keyframes shake {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0;
  }
}

.login-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .home-link {
    animation: none;
    opacity: 1;
  }
}

.password-input {
  @include montserrat-normal-400;

  background-color: $almost-black;
  border: 0;
  border-radius: 1px;
  color: $white;
  font-size: 50px;
  height: 25px;
  padding: 0 10px 7px;
  transition: all 0.3s ease 0s;
  width: 245px;

  &::placeholder {
    bottom: 8px;
    font-size: 18px;
    position: relative;
  }

  &:focus {
    outline: 0;
  }

  &.error {
    animation: shake 0.2s ease-in-out 0s 2;
  }
}
