node_modules/
dist_dev/
dist_preprod/
dist_prod/
.terraform/
.terragrunt-cache/
coverage/
cypress/screenshots/
cypress/videos/

yarn-error.log
.DS_Store
# todo: should I put *.tfstate in gitignore?
.terraform.lock.hcl
*.tfstate.backup
*.zip
terraform.tfvars
cypress.env.json
