@import '../../styles/shared';

@keyframes slide-in-from-right {
  0% {
    margin-left: 2000px;
  }

  100% {
    margin-left: 0;
  }
}

.company-page {
  animation: 2s ease-out 0s 1 slide-in-from-right;
  display: flex;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  >* {
    flex: 0 0 auto;
  }

  .home-link {
    animation-delay: 0s;
  }
}

.page-title {
  @include druk-normal-400;

  font-size: 129vh;
  left: -5vh;
  line-height: 100vh;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 8vh;
  white-space: nowrap;

  &.windows {
    top: -11vh;
  }
}

.company-header {
  align-items: center;
  background: $black;
  display: flex;
  justify-content: center;
  width: 100%;

  &.fixed {
    display: none;
    height: 100%;
    position: fixed;
    z-index: 1;
  }
}

.company-image {
  max-width: 521px;
}

// custom left value for title starting with letter "Z" (Zensupplies)
// also applicable to names starting with letter "S"
.zensupplies .page-title {
  left: -2vh;
}

.adidas .page-title {
  left: 4vh;
}

.company-info {
  margin-right: $company-info-margin;
  max-width: 430px;
}

.product-title {
  @include montserrat-normal-400;

  color: $white;
  font-size: 40px;
  margin: 50px 0;
}

.paragraph:not(:last-child) {
  margin-bottom: 40px;
}

.paragraph-title {
  @include montserrat-normal-700;

  color: $white;
  font-size: 14px;
  letter-spacing: 0.7px;
  padding: 20px 0;
  text-transform: uppercase;
}

.paragraph-description {
  $li-padding: 15px;

  @include montserrat-normal-400;

  color: $light-gray;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex; // required to indent all the content related to bullet points
  }

  li::before {
    content: '•';
    font-size: 12pt;
    padding: 0 5px;
  }

  li:not(:last-child) {
    padding-bottom: $li-padding;
  }

  .inner-list {
    padding-top: $li-padding;
  }
}

.gap {
  width: 70%;
}

.content-wrapper {
  background: $black;
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;

  .company-header {
    min-height: 100vh;
  }
}

.company-page.content-view .content-wrapper {
  display: block;
}

.company-page.content-view .company-header.fixed {
  display: flex;
}

.event-optimizer-background {
  width: 100%;
}

.swipe-tip {
  animation: 2s ease-out 0s 1 fade-in;
  position: fixed;
  text-align: center;
  top: 20px;
  width: 100%;
  z-index: 1;

  img {
    width: 70px;
  }
}

// ####### START product page ######

.transition-image {
  width: 100%;
}

.section-container {
  display: flex;

  .section,
  .section-image {
    width: 50%;
  }
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .paragraph {
    width: 500px;
  }
}

.transition-image,
.section-container {
  padding-bottom: 100px;
}

// ####### END product page ######

@media screen and (max-width: $laptop-width) {
  .company-image {
    max-width: 500px;
  }

  .company-header {
    flex-direction: column;
  }

  .company-info {
    margin-left: $company-info-margin;
    max-width: none;
  }
}

@media screen and (max-width: $tablet-width) {
  .company-image {
    max-width: 400px;
  }
}

@media screen and (max-width: $mobile-width) {
  .company-image {
    max-width: 350px;
  }
}