@import '../../styles/shared.scss';

@keyframes slideInFromRight {
    0% {
        margin-left: 2000px;
    }
    100% {
        margin-left: 0;
    }
}

.project-page {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    height: 100%;
    animation: 2s ease-out 0s 1 slideInFromRight;

    > * {
        flex: 0 0 auto;
    }
}

.page-title {
    @include druk-normal-400;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    font-size: 129vh;
    line-height: 100vh;
    position: relative;
    left: -5vh;
    top: 8vh;
}

.project-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;

    &.fixed {
        position: fixed;
        z-index: 1;
        height: 100%;
        display: none;
    }

    > img {
        width: 521px;
    }

    .home-link {
        animation-delay: 0s;
    }
}

.supply-planning .page-title {
    left: -2vh;
}

.project-info {
    max-width: 430px;
}

.project-title {
    @include mnontserrat-normal-700;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 14px;
}

.project-description {
    @include mnontserrat-normal-400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.project-page.content-view .project-wrapper.fixed {
    display: flex;
}

.project-gap {
    width: 70%;
}
