@font-face {
  font-family: montserrat;
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: montserrat;
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'druk wide trial';
  font-style: normal;
  font-weight: 500;
  src: local('Druk Wide Trial'), url('https://fonts.cdnfonts.com/s/86284/DrukWide-Medium-Trial.woff') format('woff');
}

@font-face {
  font-family: 'druk wide trial';
  font-style: normal;
  font-weight: 700;
  src: local('Druk Wide Trial'), url('https://fonts.cdnfonts.com/s/86284/DrukWide-Bold-Trial.woff') format('woff');
}
