// originally:
// @import url('https://fonts.cdnfonts.com/css/montserrat');
// @import url('https://fonts.cdnfonts.com/css/druk-trial');

@font-face {
  font-family: montserrat;
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), url('./fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: montserrat;
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat'), url('./fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'druk wide trial';
  font-style: normal;
  font-weight: 500;
  src: local('Druk Wide Trial'), url('./fonts/DrukWide-Medium-Trial.woff') format('woff');
}

@font-face {
  font-family: 'druk wide trial';
  font-style: normal;
  font-weight: 700;
  src: local('Druk Wide Trial'), url('./fonts/DrukWide-Bold-Trial.woff') format('woff');
}

@font-face {
  font-family: matrice;
  font-style: normal;
  font-weight: 700;
  src: local('Matrice'), url('./fonts/Matrice-Bold.woff') format('woff');
}

@font-face {
  font-family: 'akira expanded';
  font-style: normal;
  font-weight: 700;
  // todo: uploaded font does not work
  src: local('Akira Expanded'), url('./fonts/Akira-Expanded.otf') format('otf');
}
