$big-laptop-width: 1200px;
$laptop-width: 900px;
$tablet-width: 500px;
$mobile-width: 400px;
$link-delay-animation: 5s;
$company-info-margin: 50px;

// colors
$black: rgb(0 0 0);
$almost-black: rgb(25 25 25);
$white: rgba(255 255 255 / 100%);
$gray: rgba(128 128 128);
$gray-light: rgba(255 255 255 / 87%);
$gray-lighter: rgba(255 255 255 / 75%);
$radio-button-checked: rgb(222 222 222);

// product section
$section-padding: 100px;
$section-padding-mini: calc($section-padding / 2);

@mixin druk-normal-400 {
  font-family: 'Druk Wide Trial', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin druk-normal-700 {
  font-family: 'Druk Wide Trial', sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin montserrat-normal-400 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin montserrat-normal-700 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin matrice-normal-700 {
  font-family: Matrice, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin akira-normal-700 {
  font-family: 'Akira Expanded', sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin helvetica-neue-light {
  font-family: HelveticaNeue-Light, sans-serif;
}
