$laptop-width: 900px;
$tablet-width: 500px;
$mobile-width: 400px;
$link-delay-animation: 5s;
$project-info-margin: 50px;

$black: rgb(0 0 0);
$white: rgba(255 255 255 / 100%);
$gray: rgb(217 217 217);
$light-gray: rgba(255 255 255 / 80%);

@mixin druk-normal-400 {
  font-family: 'Druk Wide Trial', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin druk-normal-700 {
  font-family: 'Druk Wide Trial', sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin montserrat-normal-400 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin montserrat-normal-700 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
}
