.pivunova-brand, .designer-title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designer-title {
    margin-top: 15px;
}

.about-link {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 40px;
    margin-top: 40px;
}

.contact-link {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
}

.projects-link {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 40px;
    margin-bottom: 40px;
}
