@import '../../styles/shared';

.pivunova-brand,
.designer-title-wrapper {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pivunova-brand-content {
  animation: 2s ease-out 3s 1 fade-in, 2s ease-out 3s 1 slide-in;
  animation-fill-mode: forwards;
  bottom: -30px;
  opacity: 0;
  position: relative;
  width: 150px;
}

.designer-title-wrapper {
  margin-top: 15px;
  overflow-y: hidden;
}

.designer-title {
  animation: 2s ease-out 1s 1 slide-in;
  animation-fill-mode: forwards;
  bottom: -30px;
  position: relative;
}

.about-link,
.contact-link,
.projects-link {
  animation: 2s ease-out $link-delay-animation 1 fade-in;
  animation-fill-mode: forwards;
  opacity: 0;
}

.about-link {
  margin-right: $link-margin;
  margin-top: $link-margin;
  position: fixed;
  right: 0;
  top: 0;
}

.contact-link {
  bottom: 0;
  margin-bottom: $link-margin;
  margin-right: $link-margin;
  position: fixed;
  right: 0;
}

.projects-link {
  bottom: 0;
  left: 0;
  margin-bottom: $link-margin;
  margin-left: $link-margin;
  position: fixed;
}
