@import url('https://fonts.cdnfonts.com/css/druk-trial');

.pivunova-brand, .designer-title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designer-title {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: 'Druk Wide Trial', sans-serif;
    font-weight: 700;
    margin-top: 15px;
}

.pivunova-link {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 40px;
    margin-top: 40px;
}

.about-link {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 40px;
    margin-top: 40px;
}

.contact-link {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
}

.projects-link {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 40px;
    margin-bottom: 40px;
}

.projects-link, .contact-link, .about-link {
    font-family: 'Druk Wide Trial', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
}

.projects-link:hover, .contact-link:hover, .about-link:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}
