@import '../../styles/shared';

$desktop-left-right-margin: 58px;
$desktop-top-bottom-margin: 50px;
$tablet-link-margin: 15px;

.pivunova-brand,
.designer-title-wrapper {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pivunova-brand-content {
  animation: 2s ease-out 3s 1 fade-in, 2s ease-out 3s 1 slide-in;
  animation-fill-mode: forwards;
  bottom: -30px;
  opacity: 0;
  position: relative;
  width: 150px;
}

.designer-title-wrapper {
  margin-top: 15px;
  overflow-y: hidden;
  text-align: center;
}

.designer-title {
  animation: 2s ease-out 1s 1 slide-in;
  animation-fill-mode: forwards;
  bottom: -30px;
  position: relative;
  white-space: nowrap;
}

.about-link,
.contact-link,
.projects-link {
  animation: 2s ease-out $link-delay-animation 1 fade-in;
  animation-fill-mode: forwards;
  opacity: 0;
}

.about-link {
  bottom: 0;
  margin-bottom: $desktop-top-bottom-margin;
  margin-right: $desktop-left-right-margin;
  position: fixed;
  right: 0;
}

.contact-link {
  margin-right: $desktop-left-right-margin;
  margin-top: $desktop-top-bottom-margin;
  position: fixed;
  right: 0;
  top: 0;
}

.projects-link {
  bottom: 0;
  left: 0;
  margin-bottom: $desktop-top-bottom-margin;
  margin-left: $desktop-left-right-margin;
  position: fixed;
}

.home-link {
  margin-left: $desktop-left-right-margin;
  margin-top: $desktop-top-bottom-margin;
}

@media screen and (max-width: $laptop-width) {
  .about-link {
    margin-bottom: $tablet-link-margin;
    margin-right: $tablet-link-margin;
  }

  .contact-link {
    margin-right: $tablet-link-margin;
    margin-top: $tablet-link-margin;
  }

  .projects-link {
    margin-bottom: $tablet-link-margin;
    margin-left: $tablet-link-margin;
  }

  .home-link {
    margin-left: $tablet-link-margin;
    margin-top: $tablet-link-margin;
  }
}
