@import '../../styles/shared.scss';

.pivunova-brand, .designer-title-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pivunova-brand-content {
    position: relative;
    bottom: -30px;
    opacity: 0;
    animation: 2s ease-out 3s 1 fadeIn, 2s ease-out 3s 1 slideIn;
    animation-fill-mode: forwards;
}

.designer-title-wrapper {
    margin-top: 15px;
    overflow-y: hidden;
}

.designer-title {
    position: relative;
    bottom: -30px;
    animation: 2s ease-out 1s 1 slideIn;
    animation-fill-mode: forwards;
}

.about-link, .contact-link, .projects-link {
    animation: 2s ease-out 4s 1 fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
}

.about-link {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: $link-margin;
    margin-top: $link-margin;
}

.contact-link {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: $link-margin;
    margin-bottom: $link-margin;
}

.projects-link {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: $link-margin;
    margin-bottom: $link-margin;
}
