.title-wrapper {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    height: 100%;
    animation: 2s ease-out 0s 1 slideInFromRight;
}

.title-wrapper > * {
    flex: 0 0 auto;
}

.page-title {
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    /* todo: do not use relative positioning */
    position: relative;
    /* top: -20vh;
    left: -5vh; */
    top: 8vh;
    left: -5vh;

    font-family: 'Druk Wide Trial', sans-serif;
    font-size: 130vh;
    line-height: normal;
    font-size: 130vh;
    line-height: 100vh;
}

@keyframes slideInFromRight {
    0% {
        margin-left: 2000px;
    }
    100% {
        margin-left: 0;
    }
}
