@import url('https://fonts.cdnfonts.com/css/druk-trial');

.title-wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    height: 100%;
    font-size: 130vh;
    line-height: normal;
    font-family: 'Druk Wide Trial', sans-serif;
    text-align: center;
    position: relative;
    top: -20vh;
    left: -5vh;
    display: flex;
    animation: 2s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
    0% {
        margin-left: 2000px;
    }
    100% {
        margin-left: 0;
    }
}
