@import '../../styles/shared';

// desktop
$margin: 60px;
$desktop-project-width: 588px;
$desktop-project-height: 600px;
$desktop-content-width: $desktop-project-width * 2 + $margin;
$desktop: $desktop-content-width + $margin;

// tablet
$tablet-project-width: 480px;
$tablet-project-height: 400px;
$tablet-content-width: $tablet-project-width * 2 + $margin;
$tablet: $tablet-project-width * 2 + $margin * 2;

// mobile
$mobile: $desktop-project-width + $margin;
$mobile-margin: calc($margin / 2);

// mini-mobile
$mini-mobile: $tablet-project-width + $margin;

@mixin matrice-font {
  @include matrice-normal-700;

  font-size: 10px;
  letter-spacing: 2.07px;
  line-height: 10px;
  text-transform: uppercase;
}

.subprojects-wrapper {
  display: flex;
  justify-content: center;
}

.subprojects-content {
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: $margin;
  max-width: $desktop-content-width;
  min-width: 250px;
  position: relative;
  width: 100%;
}

.subproject {
  @include matrice-font;

  &:nth-child(odd) {
    margin-left: $margin;
    margin-top: $margin;
  }
}

.subproject-image {
  align-items: center;
  background-color: $white;
  color: $black;
  display: flex;
  height: $desktop-project-height;
  justify-content: center;
  opacity: 0.8;
  width: $desktop-project-width;
}

.subproject-description {
  border-bottom: 1px solid $gray;
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
  padding-top: 44px;
}

.filter-panel {
  @include matrice-font;

  color: $gray;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 0;
  width: $desktop-project-width;
}

@media screen and (max-width: $desktop) {
  .subprojects-content {
    max-width: $tablet-content-width;
  }

  .subproject-image {
    height: $tablet-project-height;
    width: $tablet-project-width;
  }

  .filter-panel {
    width: $tablet-project-width;
  }
}

@media screen and (max-width: $tablet) {
  .subprojects-content {
    justify-content: center;
  }

  .filter-panel {
    margin-top: $margin;
    position: static;
    width: $desktop-project-width;
  }

  .subproject:nth-child(odd) {
    margin: 0;
  }

  .subproject-image {
    height: $desktop-project-height;
    margin: $margin 0 0 0;
    width: $desktop-project-width;
  }
}

@media screen and (max-width: $mobile) {
  .subproject-image {
    height: $tablet-project-height;
    width: $tablet-project-width;
  }

  .filter-panel {
    width: $tablet-project-width;
  }
}

@media screen and (max-width: $mini-mobile) {
  .subprojects-content {
    margin: 0 $project-info-margin $mobile-margin $project-info-margin;
  }

  .subproject {
    margin: $mobile-margin 0 0 0;
    width: 100%;

    &:nth-child(odd) {
      margin: $mobile-margin 0 0 0;
    }
  }

  .subproject-image {
    width: 100%;
  }

  .filter-panel {
    display: block;
    width: 100%;

    .filter-option {
      $padding: 20px;

      display: block;

      &:not(:last-child) {
        border-bottom: 1px solid $gray;
        padding-bottom: $padding;
      }

      &:not(:first-child) {
        padding-top: $padding;
      }
    }
  }
}
