@import '../../styles/shared';

$margin: 60px;
$desktop-project-width: 588px;
$desktop-project-height: 600px;
$desktop-content-width: $desktop-project-width * 2 + $margin;
$desktop: $desktop-content-width + $margin;

$tablet-project-width: 480px;
$tablet-project-height: 400px;
$tablet-content-width: $tablet-project-width * 2 + $margin;
$tablet: $tablet-project-width * 2 + $margin;

$mobile: $desktop-project-width + $margin;

$mini-mobile: $tablet-project-width + $margin;

.subprojects-wrapper {
  display: flex;
  justify-content: center;
}

.subprojects-content {
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-width: $desktop-content-width;
  position: relative;
  width: 100%;
}

.subproject {
  @include druk-normal-400;

  width: $desktop-project-width;
  height: $desktop-project-height;
  background-color: $white;
  opacity: 0.8;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(odd) {
    margin-left: $margin;
    margin-top: $margin;
  }
}

.filter-panel {
  @include montserrat-normal-700;

  position: absolute;
  right: 0;
  top: 0;
  width: $desktop-project-width;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: $desktop) {
  .subprojects-content {
    max-width: $tablet-content-width;
  }

  .subproject {
    width: $tablet-project-width;
    height: $tablet-project-height;
  }

  .filter-panel {
    width: $tablet-project-width;
  }
}

@mixin tablet {
  .subprojects-content {
    justify-content: center;
  }

  .filter-panel {
    position: static;
  }

  .subproject {
    width: $desktop-project-width;
    height: $desktop-project-height;
  }

  .filter-panel {
    width: $desktop-project-width;
  }

  .subproject {
    margin: $margin 0 0 0;

    &:nth-child(odd) {
      margin: $margin 0 0 0;
    }
  }
}

@media screen and (max-width: $tablet) {
  @include tablet;
}

@media screen and (max-width: $mobile) {
  .subproject {
    width: $tablet-project-width;
    height: $tablet-project-height;
  }

  .filter-panel {
    width: $tablet-project-width;
  }
}

@media screen and (max-width: $mini-mobile) {
  .subprojects-content {
    margin: 0 $project-info-margin;
  }

  $mobile-margin: calc($margin / 2);

  .subproject {
    width: 100%;
    margin: $mobile-margin 0 0 0;

    &:nth-child(odd) {
      margin: $mobile-margin 0 0 0;
    }

    &:last-child {
      margin-bottom: $mobile-margin;
    }
  }

  .filter-panel {
    width: 100%;
    display: block;

    > * {
      display: block;

      &:nth-child(n + 2) {
        margin-top: 20px;
      }
    }
  }
}
