@import '../../styles/shared';

.projects-page .home-link {
  animation-delay: 4s;
}

.projects {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.links-container {
  bottom: 0;
  height: 100vh;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}

.image-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  img {
    animation: 2s ease-out 3s 1 fade-in;
    animation-fill-mode: forwards;
    max-width: 600px;
    opacity: 0;
  }
}

.project-link-container {
  display: inline-block;
  height: 100%;
  text-align: center;
  text-decoration: none;
  width: 100%;

  .custom-link {
    overflow: hidden;
  }
}

.project-link {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.link-text {
  animation: 2s ease-out 1s 1 slide-in;
  animation-fill-mode: forwards;
  bottom: -30px;
  position: relative;
}

@media screen and (max-width: $tablet-width) {
  .image-container img {
    max-width: 400px;
  }

  .project-link .title {
    font-size: 20px;
  }
}
