.projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects > img {
    width: 600px;
    display: block;
    margin-top: 200px;
    animation: 3s ease-out 0s 1 fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.project-link {
    text-decoration: none;
    position: relative;
    top: -180px;
}
