@import '../../styles/shared';

.home-link {
  animation: 2s ease-out $link-delay-animation 1 fade-in forwards;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.brand-logo {
  opacity: 0.8;
  width: 33px;

  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: $tablet-width) {
  .brand-logo {
    width: 24px;
  }
}
