@import '../../styles/shared.scss';

.home-link {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: $link-margin;
    margin-top: $link-margin;
    z-index: 10;
    animation: 2s ease-out $link-delay-animation 1 fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;

    img {
        width: 24px;
    }
}
