.upper-image {
  width: 100%;
}

.about-container {
  display: flex;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;

  .paragraph {
    width: 500px;
  }
}

.upper-image,
.about-container {
  margin-bottom: 100px;
}

.about-image {
  width: 50%;
}

.results-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.results {
  margin-bottom: 50px;
}

.results,
.results-image {
  width: 1000px;
}
