$sections-gap: 100px;

.epam-logo {
  $margin-left-right: 50px;

  margin: 200px $margin-left-right;
  width: calc(100% - $margin-left-right * 2);
}

.about-container {
  display: flex;
}

.about-container,
.results-container {
  margin-bottom: $sections-gap;
}

.about-image {
  width: 50%;
}

// todo: use common class with similar cases on other pages
.paragraph-title {
  text-transform: uppercase;
}

.results-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.results {
  margin-bottom: 50px;
}

.results,
.results-image {
  width: 1000px;
}

.bottom-image {
  width: 100%;
}
