@import '../../styles/shared';

$text-animation-delay: 1s;
$text-animation-duration: 2s;
$image-animation-delay: $text-animation-delay + $text-animation-duration;
$image-animation-duration: 2s;

.products-page .home-link {
  animation-delay: $image-animation-delay;
}

.company-logos {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.all-company-links {
  bottom: 0;
  height: 100vh;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}

.image-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;

  &.hover {
    opacity: 0.6;
  }
}

.company-logo-item {
  animation: $image-animation-duration ease-out $image-animation-delay 1 fade-in forwards;
  max-width: 600px;
  opacity: 0;
}

.company-link-container {
  display: inline-block;
  height: 100%;
  text-align: center;
  text-decoration: none;
  width: 100%;

  .custom-link {
    overflow: hidden;
  }
}

.company-link {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.link-text {
  animation: $text-animation-duration ease-out $text-animation-delay 1 slide-in forwards;
  bottom: -30px;
  opacity: 0.8;
  position: relative;

  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: $max-mobile-width) {
  $text-animation-delay: 0s;
  $text-animation-duration: 0.5s;
  $image-animation-delay: $text-animation-delay + $text-animation-duration;
  $image-animation-duration: 0.5s;

  .link-text {
    animation-delay: $text-animation-delay;
    animation-duration: $text-animation-duration;
  }

  .products-page .home-link,
  .company-logo-item {
    animation-delay: $image-animation-delay;
    animation-duration: $image-animation-duration;
  }
}

@media screen and (max-width: $mobile-width) {
  .image-container img {
    max-width: 400px;
  }

  .company-link .title {
    font-size: 20px;
  }
}
