/* TODO: use scss with variables, mixins, etc. */
/* TODO: do not use import, store font files inside the project */
/* TODO: test the whole app in different browsers (Chrome, Safari, Firefix, Edge, Opera) and OS (macOS, Windows) */
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/druk-trial');

/* TODO: add responsive web design: tablet, mobile */
body {
    background-color: black; 
    color: white;
    margin: 0;
}

.title {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: 'Druk Wide Trial', sans-serif;
    font-weight: 700;
}

.page-link {
    font-family: 'Druk Wide Trial', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
}

.page-link:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

/* TODO: unique background for each project page */
.event-optimizer-background {
    width: 100%;
    position: fixed;
    display: none;
}

.project-page.content-view .event-optimizer-background {
    display: block;
}
