@import './styles/shared';
// fonts should be imported exactly in ths file, otherwise fonts cannot be found
@import './styles/fonts';

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    bottom: -30px;
  }

  100% {
    bottom: 0;
  }
}

// do not show ugly scrollbar for Windows Chrome, Windows Edge,
// macOS web browsers when mouse is attached (not touchpad)
::-webkit-scrollbar {
  display: none;
}

html {
  // do not show ugly scrollbar for Windows Firefox
  scrollbar-width: none;
}

body {
  background-color: $black;
  color: $white;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.title {
  @include druk-normal-700;

  color: $white;
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

.page-link {
  @include druk-normal-400;

  border-bottom: 1px solid transparent;
  color: $gray-lighter;
  font-size: 15px;
  letter-spacing: 2px;
  padding-bottom: 3px;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $white;
    color: $white;
  }

  &.no-underline:hover {
    border-width: 0;
  }
}

input[type='radio'] {
  $size: 16px;
  $border-width: 1px;

  cursor: pointer;

  &::after {
    background-color: $black;
    border: $border-width solid $gray;
    border-radius: $size;
    content: '';
    display: inline-block;
    height: $size;
    left: -1px;
    position: relative;
    top: -2px;
    visibility: visible;
    width: $size;
  }

  +label[for] {
    bottom: 2px;
    cursor: pointer;
    padding-left: 7px;
    position: relative;
  }

  &:checked+label[for] {
    color: $radio-button-checked;
  }

  &:checked::after {
    background-color: $radio-button-checked;
    border: $border-width solid $radio-button-checked;
    border-radius: $size;
    content: '';
    display: inline-block;
    height: $size;
    left: -1px;
    position: relative;
    top: -2px;
    visibility: visible;
    width: $size;
  }
}

.paragraph:not(:last-child) {
  margin-bottom: 40px;
}

.paragraph-title {
  @include matrice-normal-700;

  color: $gray-light;
  font-size: 14px;
  letter-spacing: 2.1px;
  padding: 20px 0;
  text-transform: uppercase;
}

.paragraph-content {
  $li-padding: 15px;

  @include montserrat-normal-400;

  color: $gray-lighter;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex; // required to indent all the content related to bullet points
  }

  li::before {
    content: '•';
    font-size: 12pt;
    padding: 0 5px;
  }

  li:not(:last-child) {
    padding-bottom: $li-padding;
  }

  .inner-list {
    padding-top: $li-padding;
  }
}

.center-content {
  justify-content: center;
}
