@import './styles/shared';
// fonts should be imported exactly in ths file, otherwise fonts cannot be found
@import './styles/fonts';

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    bottom: -30px;
  }

  100% {
    bottom: 0;
  }
}

// do not show ugly scrollbar for Windows Chrome, Windows Edge,
// macOS web browsers when mouse is attached (not touchpad)
::-webkit-scrollbar {
  display: none;
}

html {
  // do not show ugly scrollbar for Windows Firefox
  scrollbar-width: none;
}

body {
  background-color: $black;
  color: $white;
  margin: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

.title {
  @include druk-normal-700;

  color: $white;
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.page-link {
  @include druk-normal-400;

  border-bottom: 1px solid transparent;
  color: $light-gray;
  font-size: 15px;
  letter-spacing: 2px;
  padding-bottom: 3px;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $white;
    color: $white;
  }

  &.no-underline:hover {
    border-width: 0;
  }
}

input[type='radio'] {
  $size: 13px;
  $border-width: 1px;
  $checked-color: rgb(222 222 222);

  cursor: pointer;

  &::after {
    background-color: $black;
    border: $border-width solid $gray;
    border-radius: $size;
    content: '';
    display: inline-block;
    height: $size;
    left: -1px;
    position: relative;
    top: -2px;
    visibility: visible;
    width: $size;
  }

  +label[for] {
    bottom: 4px;
    cursor: pointer;
    padding-left: 5px;
    position: relative;
  }

  &:checked+label[for] {
    color: $checked-color;
  }

  &:checked::after {
    background-color: $checked-color;
    border: $border-width solid $checked-color;
    border-radius: $size;
    content: '';
    display: inline-block;
    height: $size;
    left: -1px;
    position: relative;
    top: -2px;
    visibility: visible;
    width: $size;
  }
}
