@import '../../styles/shared';

// desktop
$margin: 60px;
$desktop-product-item-width: 588px;
$desktop-product-item-height: 600px;
$desktop-content-width: $desktop-product-item-width * 2 + $margin;
$desktop: $desktop-content-width + $margin;

// tablet
$tablet-product-item-width: 480px;
$tablet-product-item-height: 400px;
$tablet-content-width: $tablet-product-item-width * 2 + $margin;
$tablet: $tablet-product-item-width * 2 + $margin * 2;

// mobile
$mobile: $desktop-product-item-width + $margin;
$mobile-margin: calc($margin / 2);

// mini-mobile
$mini-mobile: $tablet-product-item-width + $margin;

@mixin matrice-font {
  @include matrice-normal-700;

  font-size: 10px;
  letter-spacing: 2.07px;
  line-height: 10px;
  text-transform: uppercase;
}

.many-products-wrapper {
  display: flex;
  justify-content: center;
}

.many-products-content {
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: $margin;
  max-width: $desktop-content-width;
  min-width: 250px;
  position: relative;
  width: 100%;
}

.product-item {
  @include matrice-font;

  &:nth-child(odd) {
    margin-left: $margin;
    margin-top: $margin;
  }
}

.product-image-container {
  align-items: center;
  color: $black;
  display: flex;
  height: $desktop-product-item-height;
  justify-content: center;
  width: $desktop-product-item-width;

  .product-image {
    max-height: $desktop-product-item-height;
    max-width: $desktop-product-item-width;
    padding: 30px;
  }
}

.product-item-description {
  border-bottom: 1px solid $gray;
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
  padding-top: 44px;
}

.filter-panel {
  @include matrice-font;

  color: $gray;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 0;
  width: $desktop-product-item-width;
}

.filter-option {
  cursor: pointer;
  display: flex !important;
}

.radio-button {
  border: 0.5px solid $gray;
  border-radius: 10px;
  height: 7px;
  margin-right: 8px;
  width: 7px;
}

.filter-option.checked {
  color: $radio-button-checked;

  .radio-button {
    background-color: $radio-button-checked;
    border-color: $radio-button-checked;
  }
}

@media screen and (max-width: $desktop) {
  .many-products-content {
    max-width: $tablet-content-width;
  }

  .product-image-container {
    height: $tablet-product-item-height;
    width: $tablet-product-item-width;

    .product-image {
      max-height: $tablet-product-item-height;
      max-width: $tablet-product-item-width;
    }
  }

  .filter-panel {
    width: $tablet-product-item-width;
  }
}

@media screen and (max-width: $tablet) {
  .many-products-content {
    justify-content: center;
  }

  .filter-panel {
    margin-top: $margin;
    position: static;
    width: $desktop-product-item-width;
  }

  .product-item:nth-child(odd) {
    margin: 0;
  }

  .product-image-container {
    height: $desktop-product-item-height;
    margin: $margin 0 0 0;
    width: $desktop-product-item-width;

    .product-image {
      max-height: $desktop-product-item-height;
      max-width: $desktop-product-item-width;
    }
  }
}

@media screen and (max-width: $mobile) {
  .product-image-container {
    height: $tablet-product-item-height;
    width: $tablet-product-item-width;

    .product-image {
      max-height: $tablet-product-item-height;
      max-width: $tablet-product-item-width;
    }
  }

  .filter-panel {
    width: $tablet-product-item-width;
  }
}

@media screen and (max-width: $mini-mobile) {
  .many-products-content {
    margin: 0 $company-info-margin $mobile-margin $company-info-margin;
  }

  .product-item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: $mobile-margin;
    }
  }

  .product-image-container {
    width: 100%;

    .product-image {
      width: 100%;
    }
  }

  .filter-panel {
    $filter-option-padding: 20px;

    display: block;
    margin-bottom: 10px;
    margin-top: $margin - $filter-option-padding;
    width: 100%;

    .filter-option {
      padding: $filter-option-padding 0;

      &:not(:last-child) {
        border-bottom: 1px solid $gray;
      }
    }
  }
}
